.page--home{
  display: flex;
  flex-direction: column;

  .home__illu{
    margin: 1rem 1rem 0 1rem;
    flex: 1;
    overflow: hidden;
    text-indent: 100%;
  }

  .menu--home{
    margin: 2rem 0 3rem 0;
    z-index: 100;
    .menu__btn__li{

      .menu__btn__el{
      }
    }
  }

  .home__info__li{
    z-index: 100;
    list-style: none;
    padding: 1rem;
    margin: auto 0 0 0;
    text-align: center;
    color: #7F7F7F;
  }
}


.page--home--hideNav{

  .menu--home{
    animation-name: menuTransition;
    animation-duration: 2s;
    animation-timing-function: steps(5,end);
    animation-fill-mode: forwards;
    -webkit-animation-name: menuTransition;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: steps(5,end);
    -webkit-animation-fill-mode: forwards;

    .menu__btn__li{
      .menu__btn__el{
        pointer-events: none;
      }
    }
  }

  .home__info__li{
    animation-name: menuTransition;
    animation-duration: 2s;
    animation-timing-function: steps(5,end);
    animation-fill-mode: forwards;
    -webkit-animation-name: menuTransition;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: steps(5,end);
    -webkit-animation-fill-mode: forwards;
  }
}





@media (min-width: 998px) and (orientation: landscape){
  .page--home{
    .menu--home{
      .menu__btn__li{
        display: flex;
        justify-content: center;

        .menu__btn__el{
          margin: 0 2rem 0 0;
          width: 100%;
          max-width: 12rem;

          &:last-child{
            margin-right: 0;
            order: 3;
          }


          &:first-child{
            order: 2;
          }
        }
      }
    }

    .home__info__li{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .home__info__el{
      }
    }
  }
}


@keyframes menuTransition {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}