.page--options{

}

.option__input__li{
  list-style: none;
  padding: 0 1rem;
  margin: 0;
  max-width: 998px;
  margin: auto;

  .option__input__el{

    margin-bottom: 3.9rem;

    .option__input__title{
      font-size: 1.69rem;
    }

    .input-range{
      max-width: 100%;
      cursor: pointer;

      &__label{
        display: none;
      }

      &__track{
        height: 2rem;
        top: 0;
        margin: 0;
        transition: none;
        border-radius: 0;
        //background-color: #7F7F7F;
        background-color: black;
        border: solid 0.3rem white;

        &--active{
          border: none;
          background-image: url("/assets/interface/optionSlider.png");
          //background-size: contain;
          background-size: auto 25%;
          image-rendering: -moz-crisp-edges;
          image-rendering: -webkit-crisp-edges;
          image-rendering: pixelated;
          image-rendering: crisp-edges;
          image-rendering: -o-crisp-edges;
        }
      }

      &__slider-container{
        top: 0;
        transition: none;

        .input-range__slider{
          height: 3rem;
          margin-top: -0.5rem;
          border-radius: 0;
          transition: none;
          background-color: white;
          box-shadow:
                  -0.3rem 0px 0px 0px rgba(0,0,0,1),
                  0.3rem 0px 0px 0px rgba(0,0,0,1);
        }
      }
    }
  }
}



@media (min-width: 998px) {
  .option__input__li{

    .option__input__el{

      display: flex;
      justify-items: center;

      .option__input__title{
        margin: 0.5rem 1rem 0 0;
        width: 33%;
        min-width: 33%;
        text-align: right;
      }

      .input-range{


        &__label{
        }

        &__track{


          &--active{

          }
        }

        &__slider-container{

          .input-range__slider{
          }
        }
      }
    }
  }
}



@media (min-width: 1260px) {
  .option__input__li{
    max-width: 1260px;

    .option__input__el{

      .option__input__title{
      }

      .input-range{


        &__label{
        }

        &__track{


          &--active{

          }
        }

        &__slider-container{

          .input-range__slider{
          }
        }
      }
    }
  }
}


@media (min-width: 1400px) {
  .option__input__li{
    max-width: 1400px;

    .option__input__el{

      .option__input__title{
      }

      .input-range{


        &__label{
        }

        &__track{


          &--active{

          }
        }

        &__slider-container{

          .input-range__slider{
          }
        }
      }
    }
  }
}