.page--stop{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 2rem 1rem;

  .stop__illu{
    margin-bottom: auto;
    flex: 1;
    width: 100%;
    max-width: 1260px;
    background-size: contain;
  }

  .stop__landmarkName{
    background-color: white;
    text-align: center;
    color: black;
    padding: 1rem;
    margin-top: calc(-2em - 0.5rem);
    box-sizing: border-box;
    line-height: 1em;
  }

  .btn{
  }
}



@media (min-width: 998px) {
  .page--stop{

    .stop__illu{
      background-size: cover;
    }

    .stop__landmarkName{
    }

    .btn{
    }
  }
}