$oldSchoolBorderThickness: 0.3rem;

.btn{
  cursor: pointer;
  font-family: "Press Start 2P", cursive;

  &:hover{
    cursor: pointer;
  }
}

.btn--oldSchool{
  font-size: 1rem;
  line-height: 1em;
  padding: 0.8em;

  background-color: black;
  color: white;

  border: none;
  border-top: solid $oldSchoolBorderThickness white;
  border-bottom: solid $oldSchoolBorderThickness white;
  position: relative;


  &:hover{
    background-color: #7F7F7F;
  }

  &:before{
    background-color: inherit;

    content: '';
    position: absolute;
    top: 0;
    left: -$oldSchoolBorderThickness;
    box-sizing: border-box;
    width: calc(100% + (2 * #{$oldSchoolBorderThickness}));
    height: 100%;

    border: none;
    border-top: solid $oldSchoolBorderThickness white;
    border-bottom: solid $oldSchoolBorderThickness white;

    z-index: -1;
  }


  &:after{
    background-color: inherit;

    content: '';
    position: absolute;
    top: $oldSchoolBorderThickness;
    left: -(2 * $oldSchoolBorderThickness);
    width: calc(100% + (2 * #{$oldSchoolBorderThickness}));

    height: calc(100% - (2 * #{$oldSchoolBorderThickness}));

    border: none;
    border-left: solid $oldSchoolBorderThickness white;
    border-right: solid $oldSchoolBorderThickness white;

    z-index: -2;
  }


  &--back{
    margin-left: 0.6rem;
    margin-bottom: 1.6rem;
    display: inline-block;
    height: 1em;
    width: 1em;
    font-size: 1.4rem;
    padding: (2 * $oldSchoolBorderThickness) $oldSchoolBorderThickness;
  }


  &--unavailable{
    color: #7F7F7F;
    border-color: #7F7F7F;
    pointer-events: none;
    &:after{
      border-color: #7F7F7F;
    }
    &:before{
      border-color: #7F7F7F;
    }
  }
}