$campfireElementSize-01: 168px;
$campfireElementSize-02: 280px;

.campfire{
  display: grid;
  grid-template-columns: repeat(2, $campfireElementSize-01);
  grid-template-rows: repeat(3, $campfireElementSize-01 + 14px);
  grid-gap: 1rem;
  justify-content: center;

  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.7692rem;

  .campfire__el{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .campfire__illu{
    display: none;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
  }

  .campfire__character{

    //box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;

    &--atenuated{
      .campfire__character__mugshot{
        &--alt{
          opacity: 1;
        }
      }

      .campfire__character__healthbar{
        &:after{
          background-color: gray;
        }
      }

      .healthbar{
        &__indicator{
          background-color: #7F7F7F;
        }
      }
    }

    &--highlight{
      .campfire__character__info{
        visibility: visible;
      }
    }

    &__info{
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      left: 1rem;
      top: calc(100% - 2rem);
      background-color: black;
      padding: 1rem;
      z-index: 200;
      border: 0.2rem solid white;
      width: 16rem;

      .campfire__character__name{
        margin: 0;
        display: inline-block;
        width: 90%;
      }

      .campfire__character__symbol{
        font-size: 1.3rem;
        position: absolute;
        top: 0.8rem;
        right: 1rem;
        line-height: 1em;
        margin: 0;
        display: inline-block;
        text-align: right;
        width: 10%;
        text-shadow: 0.15rem 0.15rem #7F7F7F;

        &--caracole{
          transform: rotate(180deg);
          text-align: left;
          letter-spacing: -0.5rem;
          text-shadow: -0.15rem -0.15rem #7F7F7F;
        }

        &--coriolis{
          line-height: 0.6rem;
        }
      }

      .campfire__character__purpose{
        color: #7F7F7F;
        margin: 1rem 0 0 0;
      }
    }

    &__mugshot{
      //height: calc(100% - 1.3rem);
      border-color: white;
      border: 0.2rem solid;
      border-bottom: none;
      pointer-events: none;
      flex: 1;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: center;
      position: relative;
      image-rendering: crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-crisp-edges;
      image-rendering: -moz-crisp-edges;

      &--alt{
        content: '';
        height: 100%;
        width: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        image-rendering: crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: -moz-crisp-edges;
      }
    }

    &:nth-child(2n){
      .campfire__character__info{
        left: unset;
        right: 1rem;
      }
    }

    &:nth-child(1){
      grid-column-start: 1;
      grid-row-start: 1;
    }

    &:nth-child(2){
      grid-column-start: 2;
      grid-row-start: 1;
    }

    &:nth-child(3){
      grid-column-start: 1;
      grid-row-start: 2;
    }

    &:nth-child(4){
      grid-column-start: 2;
      grid-row-start: 2;
    }

    &:nth-child(5){
      grid-column-start: 1;
      grid-row-start: 3;
    }

    &:nth-child(6){
      grid-column-start: 2;
      grid-row-start: 3;
    }
  }
}



@media (min-width: 700px) and (orientation: portrait){
  .campfire{
    grid-template-columns: repeat(2, $campfireElementSize-02);
    grid-template-rows: repeat(3, $campfireElementSize-02 + 14px);

    .campfire__el{
    }

    .campfire__illu{
    }

    .campfire__character{

      &--atenuated{
        .campfire__character__mugshot{
          &--alt{
          }
        }

        .campfire__character__healthbar{
          &:after{
          }
        }

        .healthbar{
          &__indicator{
          }
        }
      }

      &--highlight{
        .campfire__character__info{
        }
      }

      &__info{

        .campfire__character__name{
        }

        .campfire__character__symbol{

          &--caracole{
          }

          &--coriolis{
          }
        }

        .campfire__character__purpose{
        }
      }

      &__mugshot{

        &--alt{
        }
      }

      &:nth-child(2n){
        .campfire__character__info{
        }
      }

      &:nth-child(1){
      }

      &:nth-child(2){
      }

      &:nth-child(3){
      }

      &:nth-child(4){
      }

      &:nth-child(5){
      }

      &:nth-child(6){
      }
    }
  }
}



@media (min-width: 998px) and (orientation: landscape){
  .campfire{
    grid-template-columns: repeat(6, $campfireElementSize-01 / 2);
    grid-template-rows: repeat(3, $campfireElementSize-01 + 14px);

    .campfire__el{
    }

    .campfire__illu{
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
    }

    .campfire__character{

      &--atenuated{
        .campfire__character__mugshot{
          &--alt{
          }
        }

        .campfire__character__healthbar{
          &:after{
          }
        }

        .healthbar{
          &__indicator{
          }
        }
      }

      &--highlight{
        .campfire__character__info{
        }
      }

      &__info{
        left: calc(100% - 1rem);
        //bottom: -1.5rem;

        .campfire__character__name{
        }

        .campfire__character__symbol{
          top: 0.8rem;
          right: 1rem;

          &--caracole{
          }

          &--coriolis{
          }
        }

        .campfire__character__purpose{
        }
      }

      &__mugshot{

        &--alt{
        }
      }

      &:nth-child(2n){
        .campfire__character__info{
          right: calc(100% - 1rem);
        }
      }

      &:nth-child(1){
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
      }

      &:nth-child(2){
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
      }

      &:nth-child(3){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
      }

      &:nth-child(4){
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 2;
      }

      &:nth-child(5){
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
      }

      &:nth-child(6){
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 3;
      }
    }
  }
}
