.harvest__controller{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}

.controller--directionStick{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 120px;
  width: 120px;
  background-image: url("/assets/interface/mobileController-Base.png");
  background-repeat: no-repeat;
  background-size: contain;
  &:hover,focus{
    filter: invert(1);
  }

  .directionStick__pointer{
    width: 60px;
    height: 60px;
    max-width: 60px;
    overflow: hidden;
    text-indent: 100%;

    background-image: url("/assets/interface/mobileController-Pointer.png");
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 30px;
    left: 30px;

    &:hover,focus{
      filter: invert(1);
    }
  }
}




@media (min-width: 998px) and (orientation: landscape){
  .controller--directionStick{
    display: none;
  }
}