.menu__btn__li{
  list-style: none;
  padding: 0 1rem;
  margin: 0;
  max-width: 100%;
  list-style: none;

  .menu__distanceIndicator{
    margin: 2rem auto 0 auto;
    max-width: 16rem;
  }


  .menu__btn__el{
    max-width: 16rem;
    margin: 1.3rem auto;

    &--portraitOnly{
      display: none;
    }

    &:first-child{
      margin-top: 0;
    }

    &:last-child{
      margin-bottom: 0;
    }


    .btn{
      width: 100%;
    }

  }
}


@media (orientation: portrait), (max-width: 997px){
  .menu__btn__li{
    .menu__btn__el{

      &--portraitOnly{
        display: block;
      }

      &:last-child{
      }


      .btn{
      }
    }
  }
}


@media (min-width: 998px) and (orientation: landscape) {
  .menu__btn__li{
    .menu__distanceIndicator{
      margin: 4rem auto 0 auto;
    }

    .menu__btn__el{

      &--portraitOnly{
      }

      &:nth-child(2){
        margin-top: 0;
      }

      .btn{
      }
    }
  }
  
}

