@use 'page/managementSection';
@use 'page/rest';
@use 'page/travel';
@use 'page/stop';
@use 'page/home';
@use 'page/harvest';
@use 'page/narration';
@use 'page/minigame';
@use 'page/loot';
@use 'page/campfireMobile';
@use 'landing/landing';
@use 'page/options';

.page{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
  position: relative;


}