@use 'page/managementSection';
@use 'page/rest';
@use 'page/travel';
@use 'page/stop';
@use 'page/home';
@use 'page/harvest';



.page{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}