.rest__settings{
  margin: auto auto 3rem auto;
  width: 100%;
  max-width: 742px;
  text-align: center;
  padding: 0 1rem;
  box-sizing: border-box;

  .rest__indicator{
    font-size: 2rem;
    margin: 2rem auto;
    color: #AAA2FF;
    position: relative;
    display: inline-block;
    width: auto;

    &__dots{
      position: absolute;
      left: 100%;
      top: 0;
    }
  }

  .rest__timeIndicator{
    text-align: right;
    margin-top: 0;
  }

  .input-range{
    max-width: 100%;

    &__label{
      display: none;
    }

    &__track{
      height: 1rem;
      top: 0;
      margin: 0;
      transition: none;
      border-radius: 0;
      background-color: #7F7F7F;

      &--active{
        background-color: #AAA2FF;

      }
    }

    &__slider-container{
      top: 0;
      transition: none;

      .input-range__slider{
        margin-top: 0;
        border-radius: 0;
        transition: none;
        background-color: white;
        box-shadow:
                -0.3rem 0px 0px 0px rgba(0,0,0,1),
                0.3rem 0px 0px 0px rgba(0,0,0,1);
      }
    }
  }
}


@media (orientation: landscape){
  .rest__settings{


    .rest__indicator{
      font-size: 1rem;

      &__dots{
      }
    }

    .rest__timeIndicator{
    }

    .input-range{

      &__label{
      }

      &__track{

        &--active{
        }
      }

      &__slider-container{

        .input-range__slider{
        }
      }
    }
  }
}