.travel__horde{

  &__member{
    position: relative;
    margin-bottom: 2rem;

    .healthbar{
      height: 1.3rem;
      border-color: black;
      //background-color: #7F7F7F;
    }

    &__name{
      margin-bottom: 0.5rem;
      font-size: 1.3rem;
    }

    &__state{
      position: absolute;
      top: 0;
      right: 0;

      height: 1.4rem;
      max-width: 1.4rem;
      width: 1.4rem;
      min-width: 1.4rem;
      overflow: hidden;
      text-indent: 100%;
      filter: invert(1);

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:first-child{
      margin-top: 0;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
}


@media (orientation: landscape) and (min-width: 998px){
  .travel__horde{

    //font-size: 0.7692rem;

    &__member{

      display: flex;
      margin: 0.5rem 0;

      .healthbar{
        //height: 0.7692rem;
      }

      &__name{
        margin: 0;
        padding-right: 1rem;
        min-width: 50%;
        text-align: right;
        font-size: 1rem;
      }

      &__state{
        position: relative;
        margin-left: 1rem;
      }
    }
  }
}