.page--travel--noStopAllowed{
  .travel__interface{
    .btn{
      display: none;
    }
  }
}

.travel__interface{
  position: relative;
  z-index: 10;

  &__content{
    background-color: white;
    color: black;
    height: 100vh;
    max-height: calc(100vh - 6rem);
    width: 100vw;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 500;

    &__sub{
      height: 100%;
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
      &--stats{
        visibility: hidden;
      }
    }
  }

  &__tab__li{
    list-style: none;
    padding: 1rem;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 10;

    .travel__interface__tab__el{
      cursor: pointer;
      width: 4rem;
      height: 4rem;
      overflow: hidden;
      position: relative;
      text-indent: 100%;

      .travel__interface__tab__icon{
        content: '';
        background-color: black;
        height: 100%;
        width: 100%;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        image-rendering: crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: -moz-crisp-edges;
        top: 0;
        left: 0;
        opacity: 0.5;
      }
    }

    .btn{
      position: absolute;
      bottom: calc(100% + 2rem);
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}



.travel__interface[data-showContent='stats']{
  .travel__interface__tab__el--stats{
    .travel__interface__tab__icon{
      opacity: 1;
    }
  }
  .travel__interface__content{
    &__sub--stats{
      visibility: visible;
    }
  }
}


.travel__interface[data-showContent='horde']{
  .travel__interface__tab__el--horde{
    .travel__interface__tab__icon{
      opacity: 1;
    }
  }
}


@media (max-width: 997px), (orientation: portrait){
  .travel__interface[data-showContent='hide']{
    .travel__interface__tab__el--travel{
      .travel__interface__tab__icon{
        opacity: 1;
      }
    }

    .travel__interface__content{
      visibility: hidden;
      pointer-events: none;
    }
  }
}


@media (orientation: landscape) and (min-width: 998px){
  .travel__interface{
    display: flex;

    &[data-showContent='hide']{
      .travel__interface__tab__li{
        .travel__interface__tab__el--horde{
          background-color: white;
          color: black;
        }
      }
    }

    &[data-showContent='horde']{
      .travel__interface__tab__li{
        .travel__interface__tab__el--horde{
          background-color: white;
          color: black;
        }
      }
    }

    &[data-showContent='stats']{
      .travel__interface__tab__li{
        .travel__interface__tab__el--stats{
          background-color: white;
          color: black;
        }

      }
    }


    &__content{
      position: relative;
      bottom: 0;
      height: auto;
      max-height: none;
    }

    &__tab__li{

      flex-direction: column;
      padding: 0 0 1rem 0;
      align-items: center;
      justify-content: start;
      background-color: #7F7F7F;

      .travel__interface__tab__el{
        overflow: auto;
        padding: 1rem 2rem;
        height: auto;
        width: auto;
        min-width: calc(100vw / 12);
        text-align: center;
        background-color: transparent;
        background-image: none;
        text-indent: 0;

        .travel__interface__tab__icon{
          display: none;
        }

        &:nth-child(3){
          margin-bottom: 1rem;
        }

        &--mobileOnly{
          display: none;
        }

        &--active{
          background-color: white;
        }
      }

      .btn{
        position: relative;
        bottom: 0;
        margin-top: auto;
        max-width: calc(100% - 3.4rem);
        width: 100%;
      }
    }
  }
}

